DataXml/xsd/XmlTorg12_DEFAULT_torg12_05_01_01_ind0.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Torg12SellerTitle">
    <xs:complexType>
      <xs:all>
        <xs:element name="Seller" type="DocflowParticipant">
          <xs:annotation>
            <xs:documentation>Участник документооборота, отпустивший товар</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Buyer" type="DocflowParticipant">
          <xs:annotation>
            <xs:documentation>Участник документооборота, которому отпущен товар</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Shipper" type="OrganizationDetails_WithAddressOptional">
          <xs:annotation>
            <xs:documentation>Грузоотправитель</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Consignee" type="OrganizationDetails">
          <xs:annotation>
            <xs:documentation>Грузополучатель</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Supplier" type="OrganizationDetails">
          <xs:annotation>
            <xs:documentation>Поставщик</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Payer" type="OrganizationDetails">
          <xs:annotation>
            <xs:documentation>Плательщик</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Grounds">
          <xs:annotation>
            <xs:documentation>Основание</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="DocumentName" type="string255" use="optional" />
            <xs:attribute name="DocumentNumber" type="string256" use="optional" />
            <xs:attribute name="DocumentDate" type="date" use="optional" />
            <xs:attribute name="AdditionalInfo" type="string1000z" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Table" type="Torg12Table" />
        <xs:element minOccurs="0" name="SupplyAllowedBy" type="Official">
          <xs:annotation>
            <xs:documentation>Отпуск разрешил</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="SupplyPerformedBy" type="Official">
          <xs:annotation>
            <xs:documentation>Отпуск произвел</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ChiefAccountant" type="Official">
          <xs:annotation>
            <xs:documentation>Главный бухгалтер</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Signer" type="SignerInfo">
          <xs:annotation>
            <xs:documentation>Подписант</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
      <xs:attribute name="DocumentDate" type="date" use="required">
        <xs:annotation>
          <xs:documentation>Дата товарной накладной</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DocumentNumber" type="string255" use="required">
        <xs:annotation>
          <xs:documentation>Номер товарной накладной</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WaybillDate" type="date" use="optional">
        <xs:annotation>
          <xs:documentation>Дата составления транспортной накладной</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WaybillNumber" type="string256" use="optional">
        <xs:annotation>
          <xs:documentation>Номер транспортной накладной</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OperationCode" type="string255" use="optional">
        <xs:annotation>
          <xs:documentation>Код вида операции</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Total" use="required">
        <xs:annotation>
          <xs:documentation>Сумма с учетом НДС - всего по накладной</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="17" />
            <xs:fractionDigits value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TotalInWords" type="string255" use="optional">
        <xs:annotation>
          <xs:documentation>Сумма с учетом НДС - всего по накладной, прописью</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SupplyDate" type="date" use="optional">
        <xs:annotation>
          <xs:documentation>Дата отпуска</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AdditionalInfo" type="string2000z" use="optional">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AttachmentSheetsQuantity" type="integer10" use="optional">
        <xs:annotation>
          <xs:documentation>Приложение, количество листов</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Torg12Table">
    <xs:annotation>
      <xs:documentation>Табличные сведения товарной накладной</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item">
        <xs:complexType>
          <xs:attribute name="Name" type="string1000" use="optional">
            <xs:annotation>
              <xs:documentation>Наименование</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Feature" type="string1000" use="optional">
            <xs:annotation>
              <xs:documentation>Характеристика</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Sort" type="string10" use="optional">
            <xs:annotation>
              <xs:documentation>Сорт товара</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="NomenclatureArticle" type="string50" use="optional">
            <xs:annotation>
              <xs:documentation>Артикул</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Code" type="string100" use="optional">
            <xs:annotation>
              <xs:documentation>Код товара</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="UnitCode" type="okei" use="optional">
            <xs:annotation>
              <xs:documentation>Код единицы измерения</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="UnitName" type="string1000" use="optional">
            <xs:annotation>
              <xs:documentation>Наименование единицы измерения</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ParcelType" type="string1000" use="optional">
            <xs:annotation>
              <xs:documentation>Вид упаковки</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ParcelCapacity" type="integer10" use="optional">
            <xs:annotation>
              <xs:documentation>Количество в одном месте</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ParcelsQuantity" type="integer12" use="optional">
            <xs:annotation>
              <xs:documentation>Количество мест</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="GrossQuantity" use="optional">
            <xs:annotation>
              <xs:documentation>Брутто</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="12" />
                <xs:fractionDigits value="3" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="Quantity" use="required">
            <xs:annotation>
              <xs:documentation> нетто, количество (масса)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="12" />
                <xs:fractionDigits value="3" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="Price" use="optional">
            <xs:annotation>
              <xs:documentation>Цена</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="14" />
                <xs:fractionDigits value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="TaxRate" use="optional">
            <xs:annotation>
              <xs:documentation>Ставка налога</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="10" />
                <xs:fractionDigits value="5" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="SubtotalWithVatExcluded" use="optional">
            <xs:annotation>
              <xs:documentation>Сумма без учета налога</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="17" />
                <xs:fractionDigits value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="Vat" use="optional">
            <xs:annotation>
              <xs:documentation>Сумма налога</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="17" />
                <xs:fractionDigits value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="Subtotal" use="required">
            <xs:annotation>
              <xs:documentation>Сумма всего</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="17" />
                <xs:fractionDigits value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="AdditionalInfo" type="string1000z" use="optional">
            <xs:annotation>
              <xs:documentation>Информационное поле сведений о товаре</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ParcelsQuantityTotal" type="integer10" use="optional">
      <xs:annotation>
        <xs:documentation>Количество мест, штук - всего по накладной</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ParcelsQuantityTotalInWords" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Количество мест, штук - всего по накладной, прописью</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="GrossQuantityTotal" use="optional">
      <xs:annotation>
        <xs:documentation>Брутто - всего по накладной</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="12" />
          <xs:fractionDigits value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="GrossQuantityTotalInWords" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Брутто - всего по накладной, прописью</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="NetQuantityTotal" use="optional">
      <xs:annotation>
        <xs:documentation>Нетто - всего по накладной</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="12" />
          <xs:fractionDigits value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="NetQuantityTotalInWords" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Нетто - всего по накладной, прописью</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="QuantityTotal" use="optional">
      <xs:annotation>
        <xs:documentation>Количество (масса нетто) - всего по накладной</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="12" />
          <xs:fractionDigits value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="TotalWithVatExcluded" use="optional">
      <xs:annotation>
        <xs:documentation>Сумма без учета НДС - всего по накладной</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="17" />
          <xs:fractionDigits value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Vat" use="optional">
      <xs:annotation>
        <xs:documentation>Сумма НДС - всего по накладной</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="17" />
          <xs:fractionDigits value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="string8">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string10">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string14f">
    <xs:restriction base="xs:string">
      <xs:length value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string20f">
    <xs:restriction base="xs:string">
      <xs:length value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string24">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string27f">
    <xs:restriction base="xs:string">
      <xs:length value="27" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string29">
    <xs:restriction base="xs:string">
      <xs:maxLength value="29" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string30">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string36">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="36" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string50">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string60">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string100">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string100z">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string120">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="120" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string128">
    <xs:restriction base="xs:string">
      <xs:maxLength value="128" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string128z">
    <xs:restriction base="xs:string">
      <xs:maxLength value="128" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string255">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string256">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string1000">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string1000z">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string2000">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string2000z">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="inn">
    <xs:restriction base="xs:string">
      <xs:minLength value="10" />
      <xs:maxLength value="12" />
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{10}|[0-9]{8})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="okei">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора единиц измерения</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="4" />
      <xs:pattern value="[0-9]{3}" />
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="okv">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора валют</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3" />
      <xs:pattern value="[0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10" />
      <xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="integer10">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="integer12">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CommonRevisionNumber">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3" />
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AdditionalInfoId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="20" name="AdditionalInfo" type="AdditionalInfo">
        <xs:annotation>
          <xs:documentation>ТекстИнф - Текстовая информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="InfoFileId" use="optional">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>ИдФайлИнфПол (GUID) - Идентификатор файла информационного поля</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AdditionalInfo">
    <xs:attribute name="Id" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="2000" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CustomsDeclaration">
    <xs:attribute name="Country" type="string1000" use="required">
      <xs:annotation>
        <xs:documentation>
					КодПроисх - Код страны происхождения товара по Общероссийскому классификатору стран мира (ОКСМ) или
					980 - Евросоюз,
					981 - ЕАЭС
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DeclarationNumber" type="string1000" use="required">
      <xs:annotation>
        <xs:documentation>Номер таможенной декларации</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CustomsDeclarationWithHyphens">
    <xs:attribute name="Country" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>
					КодПроисх - Код страны происхождения товара по Общероссийскому классификатору стран мира (ОКСМ) или
					980 - Евросоюз,
					981 - ЕАЭС
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="HyphenCountry" use="optional">
      <xs:annotation>
        <xs:documentation>ДефКодПроисх - обязателен, если отсутствует КодПроисх
				</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true" />
          <xs:enumeration value="false" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DeclarationNumber" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>Номер таможенной декларации</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="InvoiceTotalsDiff">
    <xs:attribute name="TotalWithVatExcluded" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма без учета налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Vat" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Total" type="xs:decimal" use="required">
      <xs:annotation>
        <xs:documentation>сумма всего</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="InvoiceItemAmountsDiff">
    <xs:attribute name="Excise" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>акциз</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SubtotalWithVatExcluded" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма без учета налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Vat" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Subtotal" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма с учетом налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CorrectableInvoiceItemFields_WithoutTaxRate">
    <xs:attribute name="Unit" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>единицы измерения товара (код)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Quantity" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>количество единиц товара</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Price" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>цена за единицу товара</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Excise" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>акциз</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SubtotalWithVatExcluded" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма без учета налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Vat" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Subtotal" type="xs:decimal" use="required">
      <xs:annotation>
        <xs:documentation>сумма с учетом налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CorrectableInvoiceItemFields">
    <xs:complexContent mixed="false">
      <xs:extension base="CorrectableInvoiceItemFields_WithoutTaxRate">
        <xs:attribute name="TaxRate" type="TaxRate" use="required">
          <xs:annotation>
            <xs:documentation>ставка налога</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CorrectableInvoiceItemFields_WithTwentyPercent">
    <xs:complexContent mixed="false">
      <xs:extension base="CorrectableInvoiceItemFields_WithoutTaxRate">
        <xs:attribute name="TaxRate" type="TaxRateWithTwentyPercent" use="required">
          <xs:annotation>
            <xs:documentation>ставка налога</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CorrectableInvoiceItemFields_WithTaxedByAgent">
    <xs:complexContent mixed="false">
      <xs:extension base="CorrectableInvoiceItemFields_WithoutTaxRate">
        <xs:attribute name="TaxRate" type="TaxRateWithTaxedByAgent" use="required">
          <xs:annotation>
            <xs:documentation>ставка налога</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CorrectableInvoiceItemFields_WithTwentyPercentAndTaxedByAgent">
    <xs:complexContent mixed="false">
      <xs:extension base="CorrectableInvoiceItemFields_WithoutTaxRate">
        <xs:attribute name="TaxRate" type="TaxRateWithTwentyPercentAndTaxedByAgent" use="required">
          <xs:annotation>
            <xs:documentation>ставка налога</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TaxRate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="без НДС" />
      <xs:enumeration value="0%" />
      <xs:enumeration value="10%" />
      <xs:enumeration value="18%" />
      <xs:enumeration value="10/110" />
      <xs:enumeration value="18/118" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaxRateWithTaxedByAgent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="без НДС" />
      <xs:enumeration value="0%" />
      <xs:enumeration value="10%" />
      <xs:enumeration value="18%" />
      <xs:enumeration value="10/110" />
      <xs:enumeration value="18/118" />
      <xs:enumeration value="НДС исчисляется налоговым агентом" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaxRateWithTwentyPercentAndTaxedByAgent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="без НДС" />
      <xs:enumeration value="0%" />
      <xs:enumeration value="10%" />
      <xs:enumeration value="18%" />
      <xs:enumeration value="20%" />
      <xs:enumeration value="10/110" />
      <xs:enumeration value="18/118" />
      <xs:enumeration value="20/120" />
      <xs:enumeration value="НДС исчисляется налоговым агентом" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaxRateWithTwentyPercent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="без НДС" />
      <xs:enumeration value="0%" />
      <xs:enumeration value="10%" />
      <xs:enumeration value="18%" />
      <xs:enumeration value="20%" />
      <xs:enumeration value="10/110" />
      <xs:enumeration value="18/118" />
      <xs:enumeration value="20/120" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Attorney">
    <xs:all>
      <xs:element minOccurs="0" name="IssuerPerson" type="Official">
        <xs:annotation>
          <xs:documentation>Лицо, выдавшее доверенность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RecipientPerson" type="Official">
        <xs:annotation>
          <xs:documentation>Лицо, получившее доверенность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="Date" type="date" use="optional">
      <xs:annotation>
        <xs:documentation>Дата выдачи доверенности</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Number" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Номер доверенности</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IssuerOrganizationName" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>Организация, представитель которой выдал доверенность</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IssuerAdditionalInfo" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>Дополнительная информация о выдавшем доверенность</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="RecipientAdditionalInfo" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>Дополнительная информация о получившем доверенность</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Official">
    <xs:attribute name="LastName" type="string60" use="required" />
    <xs:attribute name="FirstName" type="string60" use="required" />
    <xs:attribute name="MiddleName" type="string60" use="optional" />
    <xs:attribute name="Position" type="string128z" use="optional" />
  </xs:complexType>
  <xs:complexType name="AcceptanceCertificateSignatureInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Official" type="Official">
        <xs:annotation>
          <xs:documentation>лицо, подписывающее со стороны исполнителя / заказчика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Attorney" type="Attorney">
        <xs:annotation>
          <xs:documentation>сведения о доверенности подписывающего со стороны исполнителя / заказчика</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="SignatureDate" type="date" use="optional">
      <xs:annotation>
        <xs:documentation>дата подписи акта исполнителем / заказчиком</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PaymentDocumentInfo">
    <xs:attribute name="Date" type="date" use="required">
      <xs:annotation>
        <xs:documentation>ДатаПРД - Дата составления платежно-расчетного документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Number" type="string30" use="required">
      <xs:annotation>
        <xs:documentation>НомерПРД - Номер платежно-расчетного документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Total" use="optional">
      <xs:annotation>
        <xs:documentation>СуммаПРД - Сумма платежно-расчетного документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="19" />
          <xs:fractionDigits value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GroundInfo">
    <xs:attribute name="Name" type="string255" use="required">
      <xs:annotation>
        <xs:documentation>НаимОсн - Наименование документа-основания</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Number" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>НомОсн - Номер документа-основания</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Date" type="date" use="optional">
      <xs:annotation>
        <xs:documentation>ДатаОсн - Дата документа-основания</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Info" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>ДопСвОсн - Дополнительные сведения документа-основания</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DocflowParticipant">
    <xs:attribute name="BoxId" type="guid" use="optional" />
    <xs:attribute name="Inn" type="string20" use="optional" />
    <xs:attribute name="Kpp" type="string20" use="optional" />
    <xs:attribute name="FnsParticipantId" type="string100" use="optional" />
  </xs:complexType>
  <xs:complexType name="OrganizationInfo">
    <xs:choice>
      <xs:element name="OrganizationDetails" type="OrganizationDetails" />
      <xs:element name="OrganizationReference" type="OrganizationReference" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OrganizationReference">
    <xs:complexContent mixed="false">
      <xs:extension base="OrganizationDetails_ManualFilling">
        <xs:attribute name="BoxId" type="guid" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="OrganizationDetails_ManualFilling">
        <xs:sequence>
          <xs:element name="Address" type="Address" />
        </xs:sequence>
        <xs:attribute name="OrgName" type="string1000" use="required">
          <xs:annotation>
            <xs:documentation>Название</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Inn" type="string20" use="optional" />
        <xs:attribute name="Kpp" type="string20" use="optional" />
        <xs:attribute default="false" name="IsSoleProprietor" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>Признак того, что Организация - это ИП</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FnsParticipantId" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Идентификатор участника ЭДО</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationDetails_WithAddressOptional">
    <xs:complexContent mixed="false">
      <xs:extension base="OrganizationDetails_ManualFilling">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" type="Address" />
        </xs:sequence>
        <xs:attribute name="OrgName" type="string1000" use="required">
          <xs:annotation>
            <xs:documentation>Название</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Inn" type="string20" use="optional" />
        <xs:attribute name="Kpp" type="string20" use="optional" />
        <xs:attribute default="false" name="IsSoleProprietor" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>Признак того, что Организация - это ИП</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FnsParticipantId" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Идентификатор участника ЭДО</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationDetails_ManualFilling">
    <xs:attribute name="Okopf" use="optional">
      <xs:annotation>
        <xs:documentation>Код организационно-правовой формы по ОКОПФ</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="2" />
          <xs:maxLength value="5" />
          <xs:pattern value="[0-9]{2}" />
          <xs:pattern value="[0-9]{5}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Okpo" use="optional">
      <xs:annotation>
        <xs:documentation>Код в общероссийском классификаторе предприятий и организаций</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="10" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Okdp" use="optional">
      <xs:annotation>
        <xs:documentation>Код основного вида деятельности по ОКДП</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="7" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Phone" type="string255" use="optional" />
    <xs:attribute name="Fax" type="string255" use="optional" />
    <xs:attribute name="BankAccountNumber" type="string20" use="optional">
      <xs:annotation>
        <xs:documentation>Номер банковского счета</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BankName" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>Название банка</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BankId" use="optional">
      <xs:annotation>
        <xs:documentation>БИК</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="9" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Department" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>Структурное подразделение</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ShipperOrConsignee">
    <xs:all>
      <xs:element minOccurs="0" name="OrganizationDetails" type="OrganizationDetails" />
    </xs:all>
    <xs:attribute name="SameAsSellerOrBuyer" type="xs:boolean" use="optional" />
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:choice>
      <xs:element name="RussianAddress" type="RussianAddress" />
      <xs:element name="ForeignAddress" type="ForeignAddress" />
      <xs:element name="AddressCode" type="string36" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RussianAddress">
    <xs:attribute name="ZipCode" use="optional">
      <xs:annotation>
        <xs:documentation>индекс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="6" />
          <xs:pattern value="[0-9]{6}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Region" type="string50" use="required">
      <xs:annotation>
        <xs:documentation>регион (код)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Territory" type="string50" use="optional">
      <xs:annotation>
        <xs:documentation>район</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="City" type="string50" use="optional">
      <xs:annotation>
        <xs:documentation>город</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Locality" type="string50" use="optional">
      <xs:annotation>
        <xs:documentation>населенный пункт</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Street" type="string50" use="optional">
      <xs:annotation>
        <xs:documentation>улица</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Building" type="string20" use="optional">
      <xs:annotation>
        <xs:documentation>дом</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Block" type="string20" use="optional">
      <xs:annotation>
        <xs:documentation>корпус</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Apartment" type="string20" use="optional">
      <xs:annotation>
        <xs:documentation>квартира</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ForeignAddress">
    <xs:attribute name="Country" type="string60" use="required">
      <xs:annotation>
        <xs:documentation>страна (код)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Address" type="string255" use="required">
      <xs:annotation>
        <xs:documentation>текст адреса</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SignerInfo">
    <xs:choice>
      <xs:element name="SignerDetails" type="SignerDetails" />
      <xs:element name="SignerReference" type="SignerReferenceInfo" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SignerDetails">
    <xs:attribute name="LastName" type="xs:string" use="required" />
    <xs:attribute name="FirstName" type="xs:string" use="required" />
    <xs:attribute name="MiddleName" type="xs:string" use="optional" />
    <xs:attribute name="Position" type="xs:string" use="optional" />
    <xs:attribute name="Inn" type="xs:string" use="required" />
    <xs:attribute name="SoleProprietorRegistrationCertificate" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="SignerReferenceInfo">
    <xs:attribute name="CertificateBytes" type="xs:base64Binary" use="optional">
      <xs:annotation>
        <xs:documentation>X.509 сертификат подписанта (DER-кодировка) в формате BASE64</xs:documentation>
        <xs:documentation>Одно из полей CertificateBytes или CertificateThumbprint обязательно для заполнения</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CertificateThumbprint" type="string100" use="optional">
      <xs:annotation>
        <xs:documentation>Отпечаток сертификата подписанта</xs:documentation>
        <xs:documentation>Одно из полей CertificateBytes или CertificateThumbprint обязательно для заполнения</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SignerReference">
    <xs:attribute name="BoxId" type="string100" use="required">
      <xs:annotation>
        <xs:documentation>Идентификатор ящика подписанта для заполнения SignerDetails</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CertificateBytes" type="xs:base64Binary" use="optional">
      <xs:annotation>
        <xs:documentation>X.509 сертификат подписанта (DER-кодировка) в формате BASE64</xs:documentation>
        <xs:documentation>Одно из полей CertificateBytes или CertificateThumbprint обязательно для заполнения</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CertificateThumbprint" type="string100" use="optional">
      <xs:annotation>
        <xs:documentation>Отпечаток сертификата подписанта</xs:documentation>
        <xs:documentation>Одно из полей CertificateBytes или CertificateThumbprint обязательно для заполнения</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetailsBase">
    <xs:attribute name="LastName" type="string60" use="required" />
    <xs:attribute name="FirstName" type="string60" use="required" />
    <xs:attribute name="MiddleName" type="string60" use="optional" />
    <xs:attribute name="Position" type="string128z" use="optional">
      <xs:annotation>
        <xs:documentation>Должность</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Inn" use="optional">
      <xs:annotation>
        <xs:documentation>ИНН</xs:documentation>
        <xs:documentation>Обязательно для SignerType=1 (ЮЛ) и SignerType=2 (ИП)</xs:documentation>
        <xs:documentation>Опционально для SignerType=3 (ФЛ)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="10" />
          <xs:maxLength value="12" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RegistrationCertificate" type="string100" use="optional">
      <xs:annotation>
        <xs:documentation>СвГосРегИП - Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SignerType" use="required">
      <xs:annotation>
        <xs:documentation>
					1 – Представитель юридического лица (ЮЛ)
					2 - Индивидуальный предприниматель (ИП)
					3 - Физическое лицо (ФЛ)
				</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SignerOrganizationName" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>НаимОрг</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SignerInfo" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ИныеСвед - Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SignerPowersBase" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ОснПолн - Основание полномочий (доверия)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SignerOrgPowersBase" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ОснПолнОрг - Основание полномочий (доверия) организации</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetailsBase">
        <xs:attribute name="SignerStatus" use="required">
          <xs:annotation>
            <xs:documentation>Статус</xs:documentation>
            <xs:documentation>
							1 - работник организации продавца товаров (работ, услуг, имущественных прав) ИЛИ работник организации покупателя;
							2 - работник организации - составителя информации продавца ИЛИ работник организации – составителя информации покупателя;
							3 - работник иной уполномоченной организации;
							4 - уполномоченное физическое лицо, в том числе индивидуальный предприниматель.
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
              <xs:enumeration value="3" />
              <xs:enumeration value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_SellerTitle">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetails">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							0 - лицо, ответственное за подписание счетов-фактур
							1 - лицо, совершившее сделку, операцию
							2 - лицо, совершившее сделку, операцию и ответственное за ее оформление
							3 - лицо, ответственное за оформление свершившегося события
							4 - лицо, совершившее сделку, операцию и ответственное за подписание счетов-фактур
							5 - лицо, совершившее сделку, операцию и ответственное за её оформление и за подписание счетов-фактур
							6 - лицо, ответственное за оформление свершившегося события и за подписание счетов-фактур
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0" />
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
              <xs:enumeration value="3" />
              <xs:enumeration value="4" />
              <xs:enumeration value="5" />
              <xs:enumeration value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_BuyerTitle">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetails">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							1 - лицо, совершившее сделку, операцию
							2 - лицо, совершившее сделку, операцию и ответственное за ее оформление
							3 - лицо, ответственное за оформление свершившегося события
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
              <xs:enumeration value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_BuyerTitle820">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetailsBase">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							1 - лицо, совершившее сделку, операцию
							2 - лицо, совершившее сделку, операцию и ответственное за ее оформление
							3 - лицо, ответственное за оформление свершившегося события
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
              <xs:enumeration value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="SignerStatus" use="required">
          <xs:annotation>
            <xs:documentation>Статус</xs:documentation>
            <xs:documentation>
							3 - работник иной уполномоченной организации;
							4 - уполномоченное физическое лицо, в том числе индивидуальный предприниматель;
							5 - работник организации – покупателя;
							6 - работник организации – составителя файла обмена информации покупателя, если составитель файла обмена информации покупателя не является покупателем.
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="3" />
              <xs:enumeration value="4" />
              <xs:enumeration value="5" />
              <xs:enumeration value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_CorrectionSellerTitle">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetails">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							0 - лицо, ответственное за подписание счетов-фактур;
							3 – лицо, ответственное за оформление свершившегося события;
							6 - лицо, совершившее сделку, операцию и ответственное за подписание счетов-фактур
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0" />
              <xs:enumeration value="3" />
              <xs:enumeration value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_CorrectionBuyerTitle">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetails">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							3 – лицо, ответственное за оформление свершившегося события;
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_551_552">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetails">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							1 - лицо, совершившее сделку, операцию;
							2 – лицо, совершившее сделку, операцию и ответственное за ее оформление;
							3 – лицо, ответственное за оформление свершившегося события
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
              <xs:enumeration value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>