DataXml/xsd/XmlTorg12_DEFAULT_tovtorg_05_02_01_ind0.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TovTorgSellerTitle" type="TovTorgSellerTitleInfo" />
  <xs:complexType name="TovTorgSellerTitleInfo">
    <xs:all>
      <xs:element name="Seller" type="ExtendedOrganizationInfo" />
      <xs:element name="Buyer" type="ExtendedOrganizationInfo" />
      <xs:element minOccurs="0" name="Shipper" type="ExtendedOrganizationInfo" />
      <xs:element minOccurs="0" name="Consignee" type="ExtendedOrganizationInfo" />
      <xs:element minOccurs="0" name="Carrier" type="ExtendedOrganizationInfo" />
      <xs:element name="Signers">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="SignerReference" type="SignerReference" />
            <xs:element name="SignerDetails" type="ExtendedSignerDetails_551_552" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Grounds">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Ground" type="GroundInfo">
              <xs:annotation>
                <xs:documentation>Основание // Основание</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TransferInfo" type="TovTorgTransferInfo" />
      <xs:element minOccurs="0" name="Table" type="TovTorgTable" />
      <xs:element minOccurs="0" name="AdditionalInfoId" type="AdditionalInfoId" />
    </xs:all>
    <xs:attribute name="Currency" type="okv" use="required">
      <xs:annotation>
        <xs:documentation>Валюта (код) // КодОКВ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CurrencyRate" use="optional">
      <xs:annotation>
        <xs:documentation>Курс валюты // КурсВал</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="10" />
          <xs:fractionDigits value="4" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DocumentDate" type="date" use="required">
      <xs:annotation>
        <xs:documentation>Дата составления документа о передаче товара // ИдентДок.ДатаДокПТ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DocumentNumber" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Номер документа о передаче товара // ИдентДок.НомДокПТ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="RevisionDate" type="date" use="optional">
      <xs:annotation>
        <xs:documentation>Дата исправления документа о передаче товара// ИспрДокПТ.ДатаИспрДокПТ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="RevisionNumber" type="CommonRevisionNumber" use="optional">
      <xs:annotation>
        <xs:documentation>Номер исправления документа о передаче товара // ИспрДокПт.НомИспрДокПТ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DocumentCreator" type="string1000" use="required">
      <xs:annotation>
        <xs:documentation>Составитель файла информации продавца // НаимЭконСубСост</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DocumentCreatorBase" type="string120" use="optional">
      <xs:annotation>
        <xs:documentation>Основание, по которому экономический субъект является составителем файла //ОснДоверОргСост</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="OperationType" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Вид операции // ВидОперации</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="GovernmentContractInfo" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>// ИдГосКон</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DocumentName" type="string255" use="required">
      <xs:annotation>
        <xs:documentation>
					Наименование первичного документа, определенное организацией // НаимДок.НаимДокОпр
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TovTorgTable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="TovTorgItem">
        <xs:annotation>
          <xs:documentation>информация о товарах // СвТов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="TotalQuantity" type="integer12" use="optional">
      <xs:annotation>
        <xs:documentation>Количество мест всего по документу // КолМестВс</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TotalGross" use="optional">
      <xs:annotation>
        <xs:documentation>Масса брутто всего по документу // БруттоВс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="12" />
          <xs:fractionDigits value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="TotalNet" use="optional">
      <xs:annotation>
        <xs:documentation>Масса нетто всего по документу // НеттоВс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="26" />
          <xs:fractionDigits value="11" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="TotalWithVatExcluded" use="optional">
      <xs:annotation>
        <xs:documentation>Сумма без учета налога // СтБезНДСВс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="19" />
          <xs:fractionDigits value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="TotalVat" use="optional">
      <xs:annotation>
        <xs:documentation>Сумма НДС - всего по документу // СумНДСВс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="19" />
          <xs:fractionDigits value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Total" use="optional">
      <xs:annotation>
        <xs:documentation>Сумма всего // СтУчНДСВс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="19" />
          <xs:fractionDigits value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TovTorgItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalInfo" type="AdditionalInfo">
        <xs:annotation>
          <xs:documentation>Информационное поле документа // ИнфПолФХЖ2</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Product" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>наименование товара // НаимТов</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Feature" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>характеристика товара // ХарактерТов</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Sort" type="string10" use="optional">
      <xs:annotation>
        <xs:documentation>сорт товара // СортТов</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VendorCode" type="string50" use="optional">
      <xs:annotation>
        <xs:documentation>артикул товара // АртикулТов</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ProductCode" type="string100" use="optional">
      <xs:annotation>
        <xs:documentation>Код товара // КодТов</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="UnitName" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>наименование единицы измерения товара. Пользователь заполняет, если ОКЕИ_Тов=’0000’// НаимЕдИзм </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Unit" type="okei" use="required">
      <xs:annotation>
        <xs:documentation>единицы измерения товара (код) // ОКЕИ_Тов</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PackageType" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>вид упаковки товара // ВидУпак</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="QuantityInPack" use="optional">
      <xs:annotation>
        <xs:documentation>количество мест в 1 упаковке // Место;</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="12" />
          <xs:fractionDigits value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Quantity" use="optional">
      <xs:annotation>
        <xs:documentation>количество единиц товара // КолМест;</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:totalDigits value="12" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Gross" use="optional">
      <xs:annotation>
        <xs:documentation>масса брутто // Брутто</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="12" />
          <xs:fractionDigits value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Net" use="required">
      <xs:annotation>
        <xs:documentation>масса нетто, количество передано (отпущено) // НеттоПередано</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="26" />
          <xs:fractionDigits value="11" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ItemToRelease" use="optional">
      <xs:annotation>
        <xs:documentation>Количество надлежит отпустить // НадлОтп</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="26" />
          <xs:fractionDigits value="11" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Price" use="optional">
      <xs:annotation>
        <xs:documentation>цена за единицу товара // Цена</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="26" />
          <xs:fractionDigits value="11" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SubtotalWithVatExcluded" use="optional">
      <xs:annotation>
        <xs:documentation>сумма без учета налога // СтБезНДС</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="19" />
          <xs:fractionDigits value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="TaxRate" type="TaxRateWithTwentyPercentAndTaxedByAgent" use="optional">
      <xs:annotation>
        <xs:documentation>ставка налога // НалСт</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Vat" use="optional">
      <xs:annotation>
        <xs:documentation>сумма налога // СумНДС</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="19" />
          <xs:fractionDigits value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Subtotal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма всего // СтУчНДС</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="19" />
          <xs:fractionDigits value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ItemAccountDebit" use="optional">
      <xs:annotation>
        <xs:documentation>Корреспондирующие счета: дебет // КорСчДебет</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="9" />
          <xs:pattern value="[0-9]{9}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ItemAccountCredit" use="optional">
      <xs:annotation>
        <xs:documentation>Корреспондирующие счета: кредит // КорСчКредит</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="9" />
          <xs:pattern value="[0-9]{9}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TovTorgTransferInfo">
    <xs:all>
      <xs:element minOccurs="0" name="Waybills" type="Waybills">
        <xs:annotation>
          <xs:documentation>Транспортная накладная //ТранНакл</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Employee" type="Employee">
        <xs:annotation>
          <xs:documentation>Работник организации продавца // СвЛицОтпГруз.РабОргПрод</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OtherIssuer" type="OtherIssuer">
        <xs:annotation>
          <xs:documentation>Иное лицо // СвЛицОтпГруз.ИнЛицо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalInfos">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="20" name="AdditionalInfo" type="AdditionalInfo">
              <xs:annotation>
                <xs:documentation>Информационное поле документа // ИнфПолФХЖ3</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="OperationInfo" type="string255" use="required">
      <xs:annotation>
        <xs:documentation>Содержание операции // СодОпер</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TransferDate" type="date" use="optional">
      <xs:annotation>
        <xs:documentation>Дата отгрузки // ДатаОтпуск</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Attachment" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Приложение, сертификаты и прочее // КолПрил</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="integer10">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="integer12">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CommonRevisionNumber">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3" />
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string8">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string10">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string14f">
    <xs:restriction base="xs:string">
      <xs:length value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string20f">
    <xs:restriction base="xs:string">
      <xs:length value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string24">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string27f">
    <xs:restriction base="xs:string">
      <xs:length value="27" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string29">
    <xs:restriction base="xs:string">
      <xs:maxLength value="29" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string30">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string36">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="36" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string50">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string60">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string100">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string100z">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string120">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="120" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string128">
    <xs:restriction base="xs:string">
      <xs:maxLength value="128" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string128z">
    <xs:restriction base="xs:string">
      <xs:maxLength value="128" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string255">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string256">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string1000">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string1000z">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string2000">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string2000z">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="inn">
    <xs:restriction base="xs:string">
      <xs:minLength value="10" />
      <xs:maxLength value="12" />
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{10}|[0-9]{8})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="okei">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора единиц измерения</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="4" />
      <xs:pattern value="[0-9]{3}" />
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="okv">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора валют</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3" />
      <xs:pattern value="[0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10" />
      <xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AdditionalInfoId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="20" name="AdditionalInfo" type="AdditionalInfo">
        <xs:annotation>
          <xs:documentation>ТекстИнф - Текстовая информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="InfoFileId" use="optional">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>ИдФайлИнфПол (GUID) - Идентификатор файла информационного поля</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AdditionalInfo">
    <xs:attribute name="Id" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="2000" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CustomsDeclaration">
    <xs:attribute name="Country" type="string1000" use="required">
      <xs:annotation>
        <xs:documentation>
					КодПроисх - Код страны происхождения товара по Общероссийскому классификатору стран мира (ОКСМ) или
					980 - Евросоюз,
					981 - ЕАЭС
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DeclarationNumber" type="string1000" use="required">
      <xs:annotation>
        <xs:documentation>Номер таможенной декларации</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CustomsDeclarationWithHyphens">
    <xs:attribute name="Country" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>
					КодПроисх - Код страны происхождения товара по Общероссийскому классификатору стран мира (ОКСМ) или
					980 - Евросоюз,
					981 - ЕАЭС
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="HyphenCountry" use="optional">
      <xs:annotation>
        <xs:documentation>ДефКодПроисх - обязателен, если отсутствует КодПроисх
				</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true" />
          <xs:enumeration value="false" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DeclarationNumber" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>Номер таможенной декларации</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="InvoiceTotalsDiff">
    <xs:attribute name="TotalWithVatExcluded" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма без учета налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Vat" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Total" type="xs:decimal" use="required">
      <xs:annotation>
        <xs:documentation>сумма всего</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="InvoiceItemAmountsDiff">
    <xs:attribute name="Excise" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>акциз</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SubtotalWithVatExcluded" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма без учета налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Vat" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Subtotal" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма с учетом налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CorrectableInvoiceItemFields_WithoutTaxRate">
    <xs:attribute name="Unit" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>единицы измерения товара (код)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Quantity" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>количество единиц товара</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Price" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>цена за единицу товара</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Excise" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>акциз</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SubtotalWithVatExcluded" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма без учета налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Vat" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>сумма налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Subtotal" type="xs:decimal" use="required">
      <xs:annotation>
        <xs:documentation>сумма с учетом налога</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CorrectableInvoiceItemFields">
    <xs:complexContent mixed="false">
      <xs:extension base="CorrectableInvoiceItemFields_WithoutTaxRate">
        <xs:attribute name="TaxRate" type="TaxRate" use="required">
          <xs:annotation>
            <xs:documentation>ставка налога</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CorrectableInvoiceItemFields_WithTwentyPercent">
    <xs:complexContent mixed="false">
      <xs:extension base="CorrectableInvoiceItemFields_WithoutTaxRate">
        <xs:attribute name="TaxRate" type="TaxRateWithTwentyPercent" use="required">
          <xs:annotation>
            <xs:documentation>ставка налога</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CorrectableInvoiceItemFields_WithTaxedByAgent">
    <xs:complexContent mixed="false">
      <xs:extension base="CorrectableInvoiceItemFields_WithoutTaxRate">
        <xs:attribute name="TaxRate" type="TaxRateWithTaxedByAgent" use="required">
          <xs:annotation>
            <xs:documentation>ставка налога</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CorrectableInvoiceItemFields_WithTwentyPercentAndTaxedByAgent">
    <xs:complexContent mixed="false">
      <xs:extension base="CorrectableInvoiceItemFields_WithoutTaxRate">
        <xs:attribute name="TaxRate" type="TaxRateWithTwentyPercentAndTaxedByAgent" use="required">
          <xs:annotation>
            <xs:documentation>ставка налога</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TaxRate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="без НДС" />
      <xs:enumeration value="0%" />
      <xs:enumeration value="10%" />
      <xs:enumeration value="18%" />
      <xs:enumeration value="10/110" />
      <xs:enumeration value="18/118" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaxRateWithTaxedByAgent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="без НДС" />
      <xs:enumeration value="0%" />
      <xs:enumeration value="10%" />
      <xs:enumeration value="18%" />
      <xs:enumeration value="10/110" />
      <xs:enumeration value="18/118" />
      <xs:enumeration value="НДС исчисляется налоговым агентом" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaxRateWithTwentyPercentAndTaxedByAgent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="без НДС" />
      <xs:enumeration value="0%" />
      <xs:enumeration value="10%" />
      <xs:enumeration value="18%" />
      <xs:enumeration value="20%" />
      <xs:enumeration value="10/110" />
      <xs:enumeration value="18/118" />
      <xs:enumeration value="20/120" />
      <xs:enumeration value="НДС исчисляется налоговым агентом" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaxRateWithTwentyPercent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="без НДС" />
      <xs:enumeration value="0%" />
      <xs:enumeration value="10%" />
      <xs:enumeration value="18%" />
      <xs:enumeration value="20%" />
      <xs:enumeration value="10/110" />
      <xs:enumeration value="18/118" />
      <xs:enumeration value="20/120" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Attorney">
    <xs:all>
      <xs:element minOccurs="0" name="IssuerPerson" type="Official">
        <xs:annotation>
          <xs:documentation>Лицо, выдавшее доверенность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RecipientPerson" type="Official">
        <xs:annotation>
          <xs:documentation>Лицо, получившее доверенность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="Date" type="date" use="optional">
      <xs:annotation>
        <xs:documentation>Дата выдачи доверенности</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Number" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Номер доверенности</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IssuerOrganizationName" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>Организация, представитель которой выдал доверенность</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IssuerAdditionalInfo" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>Дополнительная информация о выдавшем доверенность</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="RecipientAdditionalInfo" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>Дополнительная информация о получившем доверенность</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Official">
    <xs:attribute name="LastName" type="string60" use="required" />
    <xs:attribute name="FirstName" type="string60" use="required" />
    <xs:attribute name="MiddleName" type="string60" use="optional" />
    <xs:attribute name="Position" type="string128z" use="optional" />
  </xs:complexType>
  <xs:complexType name="AcceptanceCertificateSignatureInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Official" type="Official">
        <xs:annotation>
          <xs:documentation>лицо, подписывающее со стороны исполнителя / заказчика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Attorney" type="Attorney">
        <xs:annotation>
          <xs:documentation>сведения о доверенности подписывающего со стороны исполнителя / заказчика</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="SignatureDate" type="date" use="optional">
      <xs:annotation>
        <xs:documentation>дата подписи акта исполнителем / заказчиком</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PaymentDocumentInfo">
    <xs:attribute name="Date" type="date" use="required">
      <xs:annotation>
        <xs:documentation>ДатаПРД - Дата составления платежно-расчетного документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Number" type="string30" use="required">
      <xs:annotation>
        <xs:documentation>НомерПРД - Номер платежно-расчетного документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Total" use="optional">
      <xs:annotation>
        <xs:documentation>СуммаПРД - Сумма платежно-расчетного документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="19" />
          <xs:fractionDigits value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GroundInfo">
    <xs:attribute name="Name" type="string255" use="required">
      <xs:annotation>
        <xs:documentation>НаимОсн - Наименование документа-основания</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Number" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>НомОсн - Номер документа-основания</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Date" type="date" use="optional">
      <xs:annotation>
        <xs:documentation>ДатаОсн - Дата документа-основания</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Info" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>ДопСвОсн - Дополнительные сведения документа-основания</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ExtendedOrganizationInfo">
    <xs:choice>
      <xs:element name="OrganizationDetails" type="ExtendedOrganizationDetails" />
      <xs:element name="OrganizationReference" type="ExtendedOrganizationReference" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ExtendedOrganizationDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedOrganizationDetails_ManualFilling">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" type="Address">
            <xs:annotation>
              <xs:documentation>Адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="OrgName" type="string1000" use="required">
          <xs:annotation>
            <xs:documentation>НаимОрг - название организации</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Inn" type="string60" use="optional">
          <xs:annotation>
            <xs:documentation>ИНН ФЛ-ИНН - ИНН</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Kpp" type="string1000" use="optional">
          <xs:annotation>
            <xs:documentation>КПП</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FnsParticipantId" type="string1000" use="optional">
          <xs:annotation>
            <xs:documentation>идентификатор участника ЭДО</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedOrganizationReference">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedOrganizationDetails_ManualFilling">
        <xs:attribute name="BoxId" type="guid" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedOrganizationDetails_ManualFilling">
    <xs:attribute name="OrgType" type="OrganizationType" use="required">
      <xs:annotation>
        <xs:documentation>СвИП - СвЮЛУч - СвИнНеУч</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Okopf" use="optional">
      <xs:annotation>
        <xs:documentation>ОКОПФ - Код организационно-правовой формы по ОКОПФ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Okpo" use="optional">
      <xs:annotation>
        <xs:documentation>ОКПО - код в общероссийском классификаторе предприятий и организаций</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="10" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Okdp" use="optional">
      <xs:annotation>
        <xs:documentation>ОКДП - код основного вида деятельности по ОКДП</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="7" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Phone" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Тлф - Номер контактного телефона/факс</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Email" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ЭлПочта - Адрес электронной почты</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CorrespondentAccount" type="string20" use="optional">
      <xs:annotation>
        <xs:documentation>КорСчет - Корреспондентский счёт</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BankAccountNumber" type="string20" use="optional">
      <xs:annotation>
        <xs:documentation>НомерСчета - номер банковского счета</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BankName" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>НаимБанк - название банка</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BankId" use="optional">
      <xs:annotation>
        <xs:documentation>БИК</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="9" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Department" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>СтруктПодр - структурное подразделение</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="OrganizationAdditionalInfo" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ИнфДляУчаст - Информация для участника</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="OrganizationOrPersonInfo" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ИныеСвед - Иные сведения, идентифицирующие ФЛ или ЮЛ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IndividualEntityRegistrationCertificate" type="string100" use="optional">
      <xs:annotation>
        <xs:documentation>СвГосРегИп - Реквизиты свидетельства о государственной регистрации ИП</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="LegalEntityId" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Идентиф - Идентификатор ЮЛ, нужен для автоматизированной обработки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ShortOrgName" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>КраткНазв - Краткое название </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Country" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>Страна</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>
				1 - Сведения о юридическом лице, состоящем на учете в налоговых органах // СвЮЛУч
				2 - Сведения об индивидуальном предпринимателе// СвИП
				3 - Сведения об иностранном лице, не состоящем на учете в налоговых органах // СвЮлНеУч, СвИнНеУч
				4 - Сведения о физическом лице // СвФл
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ExtendedOrganizationInfoWithHyphens">
    <xs:choice>
      <xs:element name="OrganizationDetails" type="ExtendedOrganizationDetailsWithHyphens" />
      <xs:element name="OrganizationReference" type="ExtendedOrganizationReference" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ExtendedOrganizationDetailsWithHyphens">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedOrganizationDetails">
        <xs:attribute default="false" name="HyphenInn" use="optional">
          <xs:annotation>
            <xs:documentation>ДефИННФЛ, ДефИННЮЛ</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:choice>
      <xs:element name="RussianAddress" type="RussianAddress" />
      <xs:element name="ForeignAddress" type="ForeignAddress" />
      <xs:element name="AddressCode" type="string36" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RussianAddress">
    <xs:attribute name="ZipCode" use="optional">
      <xs:annotation>
        <xs:documentation>индекс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="6" />
          <xs:pattern value="[0-9]{6}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Region" type="string50" use="required">
      <xs:annotation>
        <xs:documentation>регион (код)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Territory" type="string50" use="optional">
      <xs:annotation>
        <xs:documentation>район</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="City" type="string50" use="optional">
      <xs:annotation>
        <xs:documentation>город</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Locality" type="string50" use="optional">
      <xs:annotation>
        <xs:documentation>населенный пункт</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Street" type="string50" use="optional">
      <xs:annotation>
        <xs:documentation>улица</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Building" type="string20" use="optional">
      <xs:annotation>
        <xs:documentation>дом</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Block" type="string20" use="optional">
      <xs:annotation>
        <xs:documentation>корпус</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Apartment" type="string20" use="optional">
      <xs:annotation>
        <xs:documentation>квартира</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ForeignAddress">
    <xs:attribute name="Country" type="string60" use="required">
      <xs:annotation>
        <xs:documentation>страна (код)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Address" type="string255" use="required">
      <xs:annotation>
        <xs:documentation>текст адреса</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SignerInfo">
    <xs:choice>
      <xs:element name="SignerDetails" type="SignerDetails" />
      <xs:element name="SignerReference" type="SignerReferenceInfo" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SignerDetails">
    <xs:attribute name="LastName" type="xs:string" use="required" />
    <xs:attribute name="FirstName" type="xs:string" use="required" />
    <xs:attribute name="MiddleName" type="xs:string" use="optional" />
    <xs:attribute name="Position" type="xs:string" use="optional" />
    <xs:attribute name="Inn" type="xs:string" use="required" />
    <xs:attribute name="SoleProprietorRegistrationCertificate" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="SignerReferenceInfo">
    <xs:attribute name="CertificateBytes" type="xs:base64Binary" use="optional">
      <xs:annotation>
        <xs:documentation>X.509 сертификат подписанта (DER-кодировка) в формате BASE64</xs:documentation>
        <xs:documentation>Одно из полей CertificateBytes или CertificateThumbprint обязательно для заполнения</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CertificateThumbprint" type="string100" use="optional">
      <xs:annotation>
        <xs:documentation>Отпечаток сертификата подписанта</xs:documentation>
        <xs:documentation>Одно из полей CertificateBytes или CertificateThumbprint обязательно для заполнения</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SignerReference">
    <xs:attribute name="BoxId" type="string100" use="required">
      <xs:annotation>
        <xs:documentation>Идентификатор ящика подписанта для заполнения SignerDetails</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CertificateBytes" type="xs:base64Binary" use="optional">
      <xs:annotation>
        <xs:documentation>X.509 сертификат подписанта (DER-кодировка) в формате BASE64</xs:documentation>
        <xs:documentation>Одно из полей CertificateBytes или CertificateThumbprint обязательно для заполнения</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CertificateThumbprint" type="string100" use="optional">
      <xs:annotation>
        <xs:documentation>Отпечаток сертификата подписанта</xs:documentation>
        <xs:documentation>Одно из полей CertificateBytes или CertificateThumbprint обязательно для заполнения</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetailsBase">
    <xs:attribute name="LastName" type="string60" use="required" />
    <xs:attribute name="FirstName" type="string60" use="required" />
    <xs:attribute name="MiddleName" type="string60" use="optional" />
    <xs:attribute name="Position" type="string128z" use="optional">
      <xs:annotation>
        <xs:documentation>Должность</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Inn" use="optional">
      <xs:annotation>
        <xs:documentation>ИНН</xs:documentation>
        <xs:documentation>Обязательно для SignerType=1 (ЮЛ) и SignerType=2 (ИП)</xs:documentation>
        <xs:documentation>Опционально для SignerType=3 (ФЛ)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="10" />
          <xs:maxLength value="12" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RegistrationCertificate" type="string100" use="optional">
      <xs:annotation>
        <xs:documentation>СвГосРегИП - Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SignerType" use="required">
      <xs:annotation>
        <xs:documentation>
					1 – Представитель юридического лица (ЮЛ)
					2 - Индивидуальный предприниматель (ИП)
					3 - Физическое лицо (ФЛ)
				</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SignerOrganizationName" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>НаимОрг</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SignerInfo" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ИныеСвед - Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SignerPowersBase" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ОснПолн - Основание полномочий (доверия)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SignerOrgPowersBase" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ОснПолнОрг - Основание полномочий (доверия) организации</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetailsBase">
        <xs:attribute name="SignerStatus" use="required">
          <xs:annotation>
            <xs:documentation>Статус</xs:documentation>
            <xs:documentation>
							1 - работник организации продавца товаров (работ, услуг, имущественных прав) ИЛИ работник организации покупателя;
							2 - работник организации - составителя информации продавца ИЛИ работник организации – составителя информации покупателя;
							3 - работник иной уполномоченной организации;
							4 - уполномоченное физическое лицо, в том числе индивидуальный предприниматель.
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
              <xs:enumeration value="3" />
              <xs:enumeration value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_SellerTitle">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetails">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							0 - лицо, ответственное за подписание счетов-фактур
							1 - лицо, совершившее сделку, операцию
							2 - лицо, совершившее сделку, операцию и ответственное за ее оформление
							3 - лицо, ответственное за оформление свершившегося события
							4 - лицо, совершившее сделку, операцию и ответственное за подписание счетов-фактур
							5 - лицо, совершившее сделку, операцию и ответственное за её оформление и за подписание счетов-фактур
							6 - лицо, ответственное за оформление свершившегося события и за подписание счетов-фактур
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0" />
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
              <xs:enumeration value="3" />
              <xs:enumeration value="4" />
              <xs:enumeration value="5" />
              <xs:enumeration value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_BuyerTitle">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetails">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							1 - лицо, совершившее сделку, операцию
							2 - лицо, совершившее сделку, операцию и ответственное за ее оформление
							3 - лицо, ответственное за оформление свершившегося события
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
              <xs:enumeration value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_BuyerTitle820">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetailsBase">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							1 - лицо, совершившее сделку, операцию
							2 - лицо, совершившее сделку, операцию и ответственное за ее оформление
							3 - лицо, ответственное за оформление свершившегося события
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
              <xs:enumeration value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="SignerStatus" use="required">
          <xs:annotation>
            <xs:documentation>Статус</xs:documentation>
            <xs:documentation>
							3 - работник иной уполномоченной организации;
							4 - уполномоченное физическое лицо, в том числе индивидуальный предприниматель;
							5 - работник организации – покупателя;
							6 - работник организации – составителя файла обмена информации покупателя, если составитель файла обмена информации покупателя не является покупателем.
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="3" />
              <xs:enumeration value="4" />
              <xs:enumeration value="5" />
              <xs:enumeration value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_CorrectionSellerTitle">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetails">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							0 - лицо, ответственное за подписание счетов-фактур;
							3 – лицо, ответственное за оформление свершившегося события;
							6 - лицо, совершившее сделку, операцию и ответственное за подписание счетов-фактур
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0" />
              <xs:enumeration value="3" />
              <xs:enumeration value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_CorrectionBuyerTitle">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetails">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							3 – лицо, ответственное за оформление свершившегося события;
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtendedSignerDetails_551_552">
    <xs:complexContent mixed="false">
      <xs:extension base="ExtendedSignerDetails">
        <xs:attribute name="SignerPowers" use="required">
          <xs:annotation>
            <xs:documentation>ОблПолн - Область полномочий</xs:documentation>
            <xs:documentation>
							1 - лицо, совершившее сделку, операцию;
							2 – лицо, совершившее сделку, операцию и ответственное за ее оформление;
							3 – лицо, ответственное за оформление свершившегося события
						</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
              <xs:enumeration value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Employee">
    <xs:attribute name="Position" type="string128z" use="required">
      <xs:annotation>
        <xs:documentation>Должность</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EmployeeInfo" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ИныеСвед - Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EmployeeBase" type="string120" use="optional">
      <xs:annotation>
        <xs:documentation>ОснПолн - Основание полномочий предстваителя</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="LastName" type="string60" use="required" />
    <xs:attribute name="FirstName" type="string60" use="required" />
    <xs:attribute name="MiddleName" type="string60" use="optional" />
  </xs:complexType>
  <xs:complexType name="OtherIssuer">
    <xs:attribute name="Position" type="string128z" use="optional">
      <xs:annotation>
        <xs:documentation>Должность представителя организации</xs:documentation>
        <xs:documentation>Если заполнено - формируется структура "ПредОргПер".</xs:documentation>
        <xs:documentation>Если не заполнено – формируется структура "ФЛПер".</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EmployeeInfo" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>ИныеСвед - Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EmployeeBase" type="string120" use="optional">
      <xs:annotation>
        <xs:documentation>ОснПолнПредПер (ОснДоверФЛ) - Основание полномочий представителя</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="OrganizationName" type="string128z" use="optional">
      <xs:annotation>
        <xs:documentation>НаимОргПер - Наименование организации, которой доверена передача</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="OrganizationBase" type="string120" use="optional">
      <xs:annotation>
        <xs:documentation>ОснДоверОргПер - Основание, по которому организации доверена передача</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="LastName" type="string60" use="required" />
    <xs:attribute name="FirstName" type="string60" use="required" />
    <xs:attribute name="MiddleName" type="string60" use="optional" />
  </xs:complexType>
  <xs:complexType name="Waybills">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Waybill">
        <xs:complexType>
          <xs:attribute name="TransferDocumentNumber" type="string255" use="required">
            <xs:annotation>
              <xs:documentation>НомерТранНакл - Номер транспортной накладной</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TransferDocumentDate" type="date" use="required">
            <xs:annotation>
              <xs:documentation>ДатаТранНакл - Дата транспортной накладной</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransferBase">
    <xs:attribute name="BaseDocumentName" type="string255" use="required">
      <xs:annotation>
        <xs:documentation>НаимОсн - Наименование документа-основания отгрузки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BaseDocumentNumber" type="string255" use="optional">
      <xs:annotation>
        <xs:documentation>НомОсн - Номер документа-основания отгрузки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BaseDocumentDate" type="date" use="optional">
      <xs:annotation>
        <xs:documentation>ДатаОсн - Дата документа-основания отгрузки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BaseDocumentInfo" type="string1000" use="optional">
      <xs:annotation>
        <xs:documentation>ДопСвОсн - Дополнительные сведения документа-основания отгрузки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TransferBase820">
    <xs:complexContent mixed="false">
      <xs:extension base="TransferBase">
        <xs:attribute name="BaseDocumentId" type="string255" use="optional">
          <xs:annotation>
            <xs:documentation>ИдентОсн - Идентификатор документа – основания</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>